*{
    margin: 0px;
    padding: 0px;
}
.fav_sec{
    height: 240vh;
    width: 100%;
    background-color: black;
}
.mhd{
    height: 20vh;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.mhd h1{
    color:navy ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 800;
    text-decoration: underline;
}
.mhd_cards{
    height: 220vh;
    /* background-color: rgba(74, 106, 42, 0.737); */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.mhd_icards{
    height: 60vh;
    width: 20vw;
    /* background-color: cadetblue; */
    margin: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
}
.mhd_icards:hover{
    background-color: rgba(52, 52, 52, 0.904);
}
.mhd_icards img{
    height: 28vh;
    width: 100%;
    border-radius: 30px;

}
.mhd_icards h2{
    color: cyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
}
.mhd_icards p{
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}
.mhd_icards button {
    height: 6vh;
    width: 15vh;
    background-color: navy;
    color: white;
    border-radius: 20px;
    cursor: pointer;

}